* { box-sizing: border-box; }
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#strava-activities {
    display: table;
    width: 100%;
    border-spacing:.5em;
    border-collapse:collapse;
}

.row {
   display: table-row;
 }

.table-cell, .table-head{
  display: table-cell;
  padding:1em;
  border:#f0f0f0 1px solid;
}

.table-head {
    font-weight:bold;
}

.table-cell {
    cursor: pointer;
}

#map-container {
    display: none;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#map {
    height: 350px;
    width: 75%;
    margin: auto;
}
